button {
  background-color: #666766c9;
  border: none;
  color: white;
  cursor: pointer;
  max-width: 100%;
  opacity: 0.8;
  padding: 16px 20px;
  width: 50%;
}

button:hover {
  opacity: 1;
}

.cancelbtn {
  background-color: #f44336;
  padding: 10px 18px;
  width: auto;
}

.imgcontainer {
  margin: 24px 0 12px;
  position: relative;
  text-align: center;
}

img.avatar {
  border-radius: 50%;
  width: 40%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: 5% auto 15%;
  width: 80%;
}

.close {
  color: #000;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  right: 25px;
  top: 0;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  button {
    width: 100%;
  }

  .button {
    width: auto;
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}
