body, h1,h2,h3,h4,h5,h6 {
    font-family: Pixel Digivolve;
}
body{
  background-image: url(./../images/black.jpg);
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
html {
  scroll-behavior: smooth;
}
.w3-row-padding img {
    margin-bottom: 12px
}
/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;background: #222;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {margin-left: 0}
}

  .button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.button3 {
    background-color:transparent;
    border: none; 
    color: white;
  }

  .button3 a:hover, .button3 a:focus {
    /* background-color: red; */
    color: red!important;
  }

  /* My Progress Bar */
#myProgress {
  width: auto;
}

#myBar {
  width: 10%;
  height: 2vh;
  background-color:red;
  text-align: center;
  line-height: 2vh;
  border-radius: 10px;
}

.back {
  background-color:black ;   
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: block;
  color: rgb(255, 255, 255);
}


